/* ROOT ATTRIBUTES */
@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-Bold.woff2') format('woff2'),
        url('/Averta-web-font/Averta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-BoldItalic.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-Thin.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-SemiboldItalic.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-ThinItalic.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-Light.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-Regular.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta Extrathin';
    src: url('/assets/Averta-web-font/Averta-Extrathin.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-Extrathin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-BlackItalic.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-Black.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Averta Extrathin';
    src: url('/assets/Averta-web-font/Averta-ExtrathinItalic.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-ExtrathinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-Semibold.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-ExtraBoldItalic.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-LightItalic.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-RegularItalic.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/Averta-web-font/Averta-ExtraBold.woff2') format('woff2'),
        url('/assets/Averta-web-font/Averta-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
body {
	font-family: 'Averta' !important;
}
* {
	font-family: averta;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.cookieConsentContainer {
	z-index: 999;
	width: 350px;
	min-height: 20px;
	box-sizing: border-box;
	padding: 30px 30px 30px 30px;
	background: #ffffff;
	overflow: hidden;
	position: fixed;
    bottom: 30px;
	right: 30px;
	display: none;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}
.cookieConsentContainer .cookieTitle a {
	font-family: 'Averta' !important;
	color: #479FC8;
	font-size: 22px;
	line-height: 20px;
	display: block;
}
.cookieConsentContainer .cookieDesc p {
	margin: 0;
	padding: 15px;
	font-family: 'Averta' !important;
	color: #000000;
	font-size: 12px;
	line-height: 20px;
	display: block;
	margin-top: 10px;
	background: #F6F9FC;
	border-radius: 6px;
	font-weight: 400;
} .cookieConsentContainer .cookieDesc a {
	font-family: 'Averta' !important;
	color: #000000;
	text-decoration: underline;
}
.cookieConsentContainer .cookieButton a {
	display: inline-block;
	font-family: 'Averta' !important;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	margin-top: 14px;
	background: #479FC8;
	border-radius: 6px;
	box-sizing: border-box; 
	padding: 15px 24px;
	text-align: center;
	transition: background 0.3s;
}
.cookieConsentContainer .cookieButton a:hover { 
	cursor: pointer;
	background: #479FC8;
	color: #FFFFFF;
}

@media (max-width: 980px) {
	.cookieConsentContainer {
		bottom: 0px !important;
		left: 0px !important;
		width: 100%  !important;
	}
}